/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

#homeButton {
	color: black;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
{
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}


/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
}

#intro{	
	background-image: url(../IMG/3.jpg);
	background-size:cover;
}

.intro .slogan {
	padding:250px 0 60px;
	text-align: center;
	
}
.intro .slogan h1 {
	color: white;
	line-height: 1.1em;
	margin-bottom: 20px;
	font-size: 40px;
}
.intro .slogan p {
	color: black;
	margin-bottom: 50px;
	font-size: 20px;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}
.guide
	{width:150px;
	height:150px;}



/* Media queries */

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro-text {
        font-size: 25px;
    }
}
@media (max-width:768px) {
	
	.intro .slogan {
		padding:100px 0 60px;
	}	
}
@media (max-width:480px) {
	.intro .slogan {
		padding:170px 0 60px;
	}
	
}