/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

#homeButton {
	color: black;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
{
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}


/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
}

#intro{	
	background-image: url(../IMG/3.jpg);
	background-size:cover;
}

.intro .slogan {
	padding:250px 0 60px;
	text-align: center;
	
}
.intro .slogan h1 {
	color: white;
	line-height: 1.1em;
	margin-bottom: 20px;
	font-size: 40px;
}
.intro .slogan p {
	color: black;
	margin-bottom: 50px;
	font-size: 20px;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}
.guide
	{width:150px;
	height:150px;}



/* Media queries */

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro-text {
        font-size: 25px;
    }
}
@media (max-width:768px) {
	
	.intro .slogan {
		padding:100px 0 60px;
	}	
}
@media (max-width:480px) {
	.intro .slogan {
		padding:170px 0 60px;
	}
	
}

/* ===========================
--- Local
============================ */

HTML  CSS   Result
Edit on 
body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color:green;
}
 
.nav a.active {
  background-color: white;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}

/* ===========================
---  Local Friends Bio ---
============================ */
#bio1
{float: center; 
height: 5px;
margin: 5px;}

div.img {
    margin: 5px;
    padding: 5px;
    border: 4px solid navy;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
} 

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid navy;
}

div.img a:hover img {
    border: 10px solid navy;
}

table, td,th{
border: 1px solid navy;
}

th {height: 50px}

td {height:50px;
vertical-align: center}
    

.class {
  float: center;
}

/* ===========================
---  select Button ---
============================ */

.myButton {
  -moz-box-shadow:inset 24px 0px 17px -44px #cf866c;
  -webkit-box-shadow:inset 24px 0px 17px -44px #cf866c;
  box-shadow:inset 24px 0px 17px -44px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:21px;
  -webkit-border-radius:21px;
  border-radius:21px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  padding:20px 29px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.myButton:active {
  position:relative;
  top:1px;
}



