<!DOCTYPE html>
<html lang="en">

<head>
    <title>Local Friends</title>
    <!-- Bootstrap Core CSS -->
				<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
	<!-- Section: Header -->
<Header>	
</header>

<!-- Section: intro -->
    <section id="intro" class="intro">
		<div class="slogan">
			<h1>Local Friends</h1>
			<p style="color:white">  Meet and connect with locals for most authentic local experience.</p>
			
			<a href="#about" class="btn btn-skin scroll">
				<button id="button">Login as a Tourist
				</button></a>
			<a href="#service" class="btn btn-skin scroll">
				<button id="button">Login as a Local
				</button></a>
		</div>	
    </section>

<!-- Section: Toursits -->
    <section id="about" class="home-section text-center bg-gray">
		<div class="heading-about marginbot-0">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="section-heading">
					<h2>Login as a tourist</h2>
				</div>
			</div>
			</div>
			</div>
		</div>
		<div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Featured Locals: CheonLoon</h5>
                        <p class="subtitle"> Bring you to experience Singapore coding scene. </p>
                        <div class="avatar"><img src="../img/CLprofile.jpg" alt="" class="guide" /></div>
                    </div>
                </div>
		
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Featured Locals: Zhou Mi</h5>
                        <p class="subtitle"> Expereince running in Singapore. </p>
                        <div class="avatar"><img src="../img/zmprofile.jpg" alt="" class="guide" /></div>
                    </div>

				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
		
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Featured Locals: Melissa</h5>
                        <p class="subtitle"> Have a dance with the locals.</p>
                        <div class="avatar"><img src="../img/Melprofile.jpg" alt="" class="guide" /></div>
                    </div>
                </div>
		
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
		
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Featured Locals: Gary</h5>
                        <p class="subtitle"> Play Dota with Singapore professional game players.</p>
                        <div class="avatar"><img src="..//img/Garyprofile.jpg" alt="" class="guide" /></div>
                    </div>
                </div>
	
            </div>
        </div>		
		</div>
	</section>

	<!-- /Section: loclas -->
    <section id="service" class="home-section text-center">
		
		<div class="heading-about marginbot-0">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
		
					<div class="section-heading">
					<h2>Login as a Local</h2>
					<p> Come and show friends around in Singapore.</p>
					</div>
			
				</div>
			</div>
			</div>
		</div>
		<div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
			
                <div class="service-box">
					<div class="service-icon">
						<i class="fa fa-code fa-3x"></i>
					</div>
					<div class="service-desc">
						<h5>Benefits</h5>
						<p>.</p>
					</div>
      


	<footer>
		
	</footer>

    

</body>

</html>
