<!DOCTYPE html>
<html lang="en">

<head>
    <title>Local Friends</title>
    <!-- Bootstrap Core CSS -->
				<link rel="stylesheet" type="text/css" href="style.css">
</head>
	<!-- Section: Header -->
<Header>
				<p><a href="login.html"><button id="home">Local Friends</button></a></p>
			</ul>
	</header>

	<!-- Section: intro -->
    <section id="intro" class="intro">
		<div class="slogan">
			<h1>Local Friends</h1>
			<p style="color:black">  Meet and connect with locals for most authentic local experience.</p>
			<a href="#about" class="btn btn-skin scroll">Learn more</a>
		</div>	
    </section>

	<!-- Section: about -->
    <section id="about" class="home-section text-center bg-gray">
		<div class="heading-about marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="section-heading">
					<h2>Login as a tourists</h2>
					<p></p>
					</div>
			
				</div>
			</div>
			</div>
		</div>
		<div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Featured Locals: Augustine</h5>
                        <p class="subtitle"> Bring you to experience Singapore coding scene. </p>
                        <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
		
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Featured Locals: Zhou Mi</h5>
                        <p class="subtitle"> Expereince running in Singapore. </p>
                        <div class="avatar"><img src="img/team/2.jpg" alt="" class="img-responsive" /></div>
                    </div>

				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
		
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Featured Locals: Melissa</h5>
                        <p class="subtitle"> Have a dance with the locals.</p>
                        <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
		
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
		
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Featured Locals: Gary</h5>
                        <p class="subtitle"> Play Dota with Singapore professional game players.</p>
                        <div class="avatar"><img src="img/team/4.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
	
            </div>
        </div>		
		</div>
	</section>
	<!-- /Section: about -->
	
	
	<!-- Section: services -->
    <section id="service" class="home-section text-center">
		
		<div class="heading-about marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
		
					<div class="section-heading">
					<h2>Login as a Locals</h2>
					<p>Come and show friends around in Singapore.</p>
					</div>
			
				</div>
			</div>
			</div>
		</div>
		<div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
			
                <div class="service-box">
					<div class="service-icon">
						<i class="fa fa-code fa-3x"></i>
					</div>
					<div class="service-desc">
						<h5>Benefits</h5>
						<p>.</p>
					</div>
      


	<footer>
		
	</footer>

    

</body>

</html>
