<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Local Friends</title>
		<link rel="stylesheet" type="text/css" href="../../css/style.css">
		<script type="text/javascript" src="../../js/data.js"></script>
		<script type="text/javascript" src="../../js/websocket.js"></script>
	</head>
	<!-- Navigation bar -->
	<div class="nav">
    <ul>
      <li class="about"><a href="touristHome.html">Home</a>
      <li class="tutorials"><a href="search.html">Featured Tours</a></li>
      <li class= "about"><a class="active" href="friendsresult.html">Featured Friends</a></li>
      <li class="about"><a href="messages.html">Messages</a></li>
      <li class="news"><a href="../login.html">Logout</a></li>
    </ul>
  </div>

  <body>
  	<h1>Message</h1>
		<hr>

		<span style = "font-size:40px;font-weight:bold">To: Zhou Mi</span>
		<span>
			<div class="img"><img src="../../img/zmprofile.jpg" alt="A picture of myself" height=auto width= 120px> </div>
		</span>

		<section style="clear:both">
		<div id="container"><hr></div>
		</section>

		<input type="text" id="msgTo">
		<button id="send">Send</button>

	<script type="text/javascript">
		var objTo = document.getElementById("container");
		var sendBtn = document.getElementById("send");
		var msgTo = document.getElementById("msgTo");

		function addMsg(msg) {
			var p = document.createElement("p");
			var t = document.createElement("p");
			var a = new Date();

			p.textContent = msg.from + ": " + msg.content;
			t.textContent = "Sent: " + a.toTimeString();
			t.setAttribute("style", "font-size:10px");
			objTo.appendChild(p);
			objTo.appendChild(t);
		}

		sendBtn.addEventListener('click', function(){
			var hr = document.createElement("hr");
			console.log("clicked");
			if(msgTo.value){
				var msg = {
  					from: "Oscar",
  					type: "text",
  					content: msgTo.value,
				}
				client.send(JSON.stringify(msg));
				addMsg(msg);
				objTo.appendChild(hr);
				msgTo.value = '';
				}
			})

		client.onmessage = function(event) {
			var hr = document.createElement("hr");
			console.log(event.data);
			addMsg(JSON.parse(event.data));	
			objTo.appendChild(hr);
		}
		
	</script>

	  <footer class="footer">
			<p style="font-size:10px">&copy 2014 Local Friends</p>
		</footer>

  </body>

 </html>