<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Local Friends</title>
</head>

<body>
	<nav>
		<a href="TouristHome.html">Home</a>
		<a href="search.html">Tours</a>
		<a href="friendsresult.html">Friends</a>
		<a href="messages.html">Messages</a>
		<a href="../login.html">Log out</a>
	</nav>

<h1>Friends</h1>
		<hr>
		<!-- Melissa Friend 1 -->
		<!-- profile picture -->
		<div><img src="../../img/melprofile2.jpg" height="80px" alt="Melissa profile pic"></div>
		
		<!-- name -->
		<span>Melissa</span>
		
		<!-- message -->
		<p>Hi I'm Melissa! I am a foodie!</p>
		
		<!-- reply or delete button -->
		<button>More</button>
		<button>Chat</button>
		<hr>

		<!-- Zhou Mi Friend 2-->
		<!-- profile picture -->
		<div><img src="../../img/zmprofile.jpg" height="80px" alt="Melissa profile pic"></div>
		
		<!-- name -->
		<span>Zhou Mi</span>
		
		<!-- message -->
		<p>Hello everyone! Join me and exercise in Singapore.</p>
		
		<!-- reply or delete button -->
		<button>More</button>
		<button>Chat</button>
		<hr>

		<!-- Cheon Loon Friend 3 -->
		<!-- profile picture -->
		<div><img src="../../img/clprofile.jpg" height="80px" alt="Melissa profile pic"></div>
		
		<!-- name -->
		<span>Tommy</span>
		
		<!-- message -->
		<p>Wassup!! Welcome to Singapore!</p>
		
		<!-- reply or delete button -->
		<button>More</button>
		<button>Chat</button>
		<hr>

		<footer>
			<p>&copy 2014 Local Friends</p>
		</footer>
</body>
</html>