<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Local Friends</title>
		<link rel="stylesheet" type="text/css" href="../../css/Style.css">
		<script type="text/javascript" src="../../js/data.js"></script>
	</head>
<!-- Navigation bar -->
	<div class="nav">
      <ul>
      	<li class="tutorials"><a chref="TouristHome.html">Overview</a></li>
        <li class="tutorials"><a href="search.html">Tours</a></li>
        <li class= "about"><a class="active" href="localdetails.html">Friends</a></li>
        <li class="about"><a href="messages.html">Messages</a></li>
        <li class="news"><a href="../login.html">Logout</a></li>
      </ul>
    </div>

	<body>
		
		<!-- profile -->
		<script type="text/javascript"></script>
		<img src="../../img/Melprofile2.jpg" alt="A picture of myself" height="120" width="120">
		<span>Melissa</span>

		<!-- stats -->
		<div>Like: 5</div>
		<div>Photos: 3</div>
		<div>Tour: 2</div>

		<!-- Bio -->
		<section>
			<hr> 
			<span>Bio</span>
			<p> 
				I am cool and I love Singapore!
			</p>
			<hr>

		<!-- tours -->
			<span>Tours</span>
		<ul>
			<li>Jurong</li>
			<li>Orchard</li>
			<li>Botanic Garden</li>
		</ul>
		<hr>

		<!-- Comments -->
		Comments
		<p><img src="img/Garyprofile.jpg" alt="A picture of Gary"height="80" width="60"></p>
		<p>Melissa is a really fun guide!</p>

		<hr>
		
		<!-- Verification	 -->
		Verifications
		<table>
			<tr>
				<td>IC: </td>
				<td>Done</td>
			</tr> 
			<tr>
				<td>Email: </td>
				<td>Not verified</td>
			</tr> 
			<tr>
				<td>Phone: </td>
				<td>Done</td>
			</tr> 
			<tr>
				<td>Facebook: </td>
				<td>Not verified</td>
			</tr> 
		</table>

		</section>
		<button>Book</button>
		<button>Chat</button>
	<footer>
		<p>&copy 2014 Local Friends</p>
	</footer>
	</body>

</html>