<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Local Friends</title>
		<link rel="stylesheet" type="text/css" href="../../css/Style.css">
		<script type="text/javascript" src="../../js/data.js"></script>
	</head>
<!-- Navigation bar -->
	<div class="nav">
      <ul>
      	<li class="tutorials"><a chref="TouristHome.html">Overview</a></li>
        <li class="tutorials"><a href="search.html">Tours</a></li>
        <li class="about"><a class="active" href="localdetails.html">Friends</a></li>
        <li class="about"><a href="messages.html">Messages</a></li>
        <li class="news"><a href="../login.html">Logout</a></li>
      </ul>
    </div>

	<body>
		
		<!-- profile -->
		<div id="profileImg"></div>
		<script type="text/javascript"></script>
		<img src="../../img/Melprofile2.jpg" alt="A picture of myself" height="120" width="120">
		<div id="localName">
		<span>Melissa</span>
		</div>

		<!-- stats -->
		<div>Like: 5</div>
		<div>Photos: 3</div>
		<div>Tour: 2</div>

		<!-- Bio -->
		<section>
			<hr> 
			<span>Bio</span>
			<p> 
				I am cool and I love Singapore!
			</p>
			<hr>

		<!-- tours -->
			<span>Tours</span>
		<ul>
			<li>Jurong</li>
			<li>Orchard</li>
			<li>Botanic Garden</li>
		</ul>
		<hr>

		<!-- Comments -->
		Comments
		<p><img src="../../img/Garyprofile.jpg" alt="A picture of Gary"height="80" width="60"></p>
		<p>Melissa is a really fun guide!</p>

		<hr>

		<!-- Example starts -->
		<script type="text/javascript">
		var objTo = document.getElementById("container");
		console.log(data);
		function addMatch(person) {

			// profile pic
			var img = document.createElement("img");
			img.src = "../" + person.profilePic;
			img.style.height = "100px";
			objTo.appendChild(img);
			// name
			var name = document.createElement("p");
			name.textContent = person.name;
			objTo.appendChild(name);
			// bio
			var bio = document.createElement("p");
			bio.textContent = person.bio;
			objTo.appendChild(bio);
			// category
			var category = document.createElement("p");
			category.textContent = "Tour: " + person.category;
			objTo.appendChild(category);
			// more button
			var moreBtn = document.createElement("button");
			moreBtn.innerHTML = "More";
			objTo.appendChild(moreBtn);
			// chat button
			var chatBtn = document.createElement("button");
			chatBtn.innerHTML = "Chat";
			objTo.appendChild(chatBtn);
			// horizontal line
			var hr = document.createElement("hr");
			objTo.appendChild(hr);
		}

		function noMatch(e) {
			var objTo = document.getElementById("container");
			var p = document.createElement("p");
			var retry = document.createElement("button");
			p.textContent = "Ops, there is no match. Please try again.";
			objTo.appendChild(p);
		}

		function removeNode(e) {
			e.parentNode.removeChild(e);
		}

		document.getElementById("selected").addEventListener('click', function(){
			var selected_gender = document.getElementById("gender").value;
			var selected_age = document.getElementById("age").selectedIndex;
			var match = false;
			removeNode(document.getElementById("wrapper"));
			// title
			var title = document.createElement("h2");
			title.textContent = "Friends";
			objTo.appendChild(title);
			// horizontal line
			var hr = document.createElement("hr");
			objTo.appendChild(hr);
			// loop through data			
			data.forEach(function(person) {
				console.log(person, person.age_index, selected_age, person.gender, selected_gender);
				if (person.age_index == selected_age && person.gender === selected_gender) {
					console.log("match", person.name);
					addMatch(person);
					match = true;
				};
				// console.log(person.name);
			});
			if (match === false) {
				noMatch();
			};
			//refresh button
			var retry = document.createElement("button");
			retry.innerHTML = "Refresh";
			retry.addEventListener('click', function() {
				window.location = "TouristHome.html";
			})
			objTo.appendChild(retry);
		})
	</script>
<!-- example ends -->

		<!-- Verification	 -->
		Verifications
		<table>
			<tr>
				<td>IC: </td>
				<td>Done</td>
			</tr> 
			<tr>
				<td>Email: </td>
				<td>Not verified</td>
			</tr> 
			<tr>
				<td>Phone: </td>
				<td>Done</td>
			</tr> 
			<tr>
				<td>Facebook: </td>
				<td>Not verified</td>
			</tr> 
		</table>

		</section>
		<button>Book</button>
		<button>Chat</button>
	<footer>
		<p>&copy 2014 Local Friends</p>
	</footer>
	</body>

</html>