<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Local Friends</title>
	<link rel="stylesheet" type="text/css" href="../../css/Style.css">
</head>

<body>
	<!-- Navigation bar -->
	<div class="nav">
      <ul>
        <li class="about"><a href="TouristHome.html">Home</a>
        <li class="tutorials"><a href="search.html">Featured Tours</a></li>
        <li class= "about"><a href="friendsresult.html">Featured Friends</a></li>
        <li class="about"><a class="active" href="messages.html">Messages</a></li>
        <li class="news"><a href="../login.html">Logout</a></li>
      </ul>

    </div>

<h1>Messages</h1>
<div>You have no new messages</div>
<button><a href="friendsresult.html">Find a local friend! </a></button>

	<footer class="footer">
		<p style="font-size:10px">&copy 2014 Local Friends</p>
	</footer>
</body>
	
</html>