<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Local Friends</title>
</head>

<body>
	<nav>
		<a href="TouristHome.html">Home</a>
		<a href="search.html">Tours</a>
		<a href="friendsresult.html">Friends</a>
		<a href="messages.html">Messages</a>
		<a href="../login.html">Log out</a>
	</nav>

<h1>Messages</h1>
<div>You have no new messages</div>
<button><a href="friendsresult.html">Find a local friend! </a></button>

	<footer>
		<p>&copy 2014 Local Friends</p>
	</footer>
</body>
	
</html>