<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Local Friends</title>
	<link rel="stylesheet" type="text/css" href="../../css/Style.css">
</head>
 
<body>

	<!-- Navigation bar -->
	<div class="nav">
      <ul>
        <li class="about"><a href="TouristHome.html">Home</a>
        <li class="tutorials"><a class="active" href="search.html">Featured Tours</a></li>
        <li class= "about"><a href="friendsresult.html">Featured Friends</a></li>
        <li class="about"><a href="messages.html">Messages</a></li>
        <li class="news"><a href="../login.html">Logout</a></li>
      </ul>
    </div>

	<header>
		<h1> Welcome to Singapore! </h1>
	</header>

		
		</div>
		<div class="img">
		 <a target="_blank" href="../../img/1.jpg"><img src="../../img/1.jpg" alt="Bugis" width="110" height="90"></a>
		 <div class="desc">Add a description of the image here</div>
		 <div> <button class="myButton"> Read More </button> </div>
		</div>
		
		<div class="img">
		 <a target="_blank" href="../../img/2.jpg"><img src="../../img/2.jpg" alt="Bugis" width="110" height="90"></a>
		 <div class="desc">Add a description of the image here</div>
		  <div> <button class="myButton"> Read More </button> </div>
		</div>
		<div class="img">
		 <a target="_blank" href="../../img/3.jpg"><img src="../../img/3.jpg" alt="Bugis" width="110" height="90"></a>
		 <div class="desc">Add a description of the image here</div>
 		<div> <button class="myButton"> Read More </button> </div>
		</div>
		<div class="img">
		 <a target="_blank" href="../../img/4.jpg"><img src="../../img/4.jpg" alt="Bugis" width="110" height="90"></a>
		 <div class="desc">Add a description of the image here</div>
		  <div> <button class="myButton"> Read More </button> </div>
		</div>
	

	<footer>
		<p style="font-size:10px">&copy 2014 Local Friends</p>
	</footer>
</body>

</html>