<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<head>
	<meta charset="utf-8" />
	<title>Local Friends</title>
	<script type="text/javascript" src="../../js/data.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/Style.css">
	
</head>
 
<body>

	<!-- Navigation bar -->
	<div class="nav">
      <ul>
        <li class="tutorials"><a class="active" href="search.html">Tours</a></li>
        <li class= "about"><a href="localdetails.html">Friends</a></li>
        <li class="about"><a href="messages.html">Messages</a></li>
        <li class="news"><a href="../login.html">Logout</a></li>
      </ul>
    </div>

	<div id="wrapper">
		<header>
			<h1> Welcome to Singapore!</header>
		</header>
	
<!-- HTML for SEARCH BAR -->
<p>Quick Search Bar</p>
	<div id="tfheader">
		<form id="tfnewsearch" method="get" action="http://www.google.com">
		 <input type="text" class="tftextinput" name="q" size="21" maxlength="120">
		 <input type="submit" value="search" class="tfbutton">
		</form>
	</div>
		
<!-- Featured tours -->
	<div id="featureTours">
		<p> Editors' Selection</p>
		<div><img class="tourimage" src="../../img/1.jpg", width=200px,height=200px></div>
    <div><img class="tourimage" src="../../img/3.jpg", width=200px,height=200px></div>
  	</ul>
	</div>

<!-- Tour selection -->
	<section>
		<p> Choose Your Tour! <p>
		<p> Your Preferred Tour</p>
			<input type="checkbox">Food
			<input type="checkbox">Culture
			<input type="checkbox">Nature
	</section>

<!-- Tour prize -->
	<div>
		<p>Your Price Range SGD</p>
		<input type="range" min="0" max="50" value="0" step="5" onchange="showValue(this.value)"/>
		<span id="range">0<span>
		<script type="text/javascript">
			function showValue(newValue) {
				document.getElementById("range").innerHTML=newValue;
			}
	</script>
	</div>

	<div>
		<p> Your Preferred Choice of Local Friends<p>

<!-- Gender of local friends -->
		<select id="gender">			
			<option selected disabled>Gender</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
			<option value="Both">Does Not Matter </option>
		</select>

<!-- Age -->
		<select id="age" name="Age">
			<option selected disabled>Age</option>
			<option value="1">18-25 years old</option>
			<option value="2">26-35 years old</option>
			<option value="3">above 35 years old</option>
			<option value="Both">Does Not Matter </option>
		</select>

	<div>
		<button id="selected">Select</button>
	</div>

	<footer>
	</footer>

	<script type="text/javascript">
		console.log(data);
		function addMatch(person) {
			var img = document.createElement("img");
			img.src = "../" + person.profilePic;
			img.style.height = "100px";
			document.body.appendChild(img);
			var p = document.createElement("p");
			p.textContent = person.name;
			document.body.appendChild(p);
		}

		function noMatch(e) {
			var p = document.createElement("p");
			var retry = document.createElement("button");
			retry.innerHTML = "Refresh";
			p.textContent = "Ops, there is no match. Please try again.";
			retry.addEventListener('click', function() {
				window.location = "TouristHome.html";
			})
			document.body.appendChild(p);
			document.body.appendChild(retry);
		}

		function removeNode(e) {
			e.parentNode.removeChild(e);
		}

		document.getElementById("selected").addEventListener('click', function(){
			var selected_gender = document.getElementById("gender").value;
			var selected_age = document.getElementById("age").selectedIndex;
			removeNode(document.getElementsByTagName("div")[0]);
			data.forEach(function(person) {
				console.log(person, person.age_index, selected_age, person.gender, selected_gender);
				if (person.age_index == selected_age && person.gender === selected_gender) {
					console.log("match", person.name);
					addMatch(person);
				} else {
					console.log("no match", person.name);
					noMatch()[0];
				};
				// console.log(person.name);
			});
			
		// 		;
		// 	console.log(document.getElementById("gender").selectedIndex);
		})
	</script>
	<footer>
		<p>&copy 2014 Local Friends</p>
	</footer>

</body>

</html>