<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<head>
	<meta charset="utf-8" />
	<title>Local Friends</title>
	<script type="text/javascript" src="../../js/data.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/Style.css">
	
</head>
 
<body>

	<!-- Navigation bar -->
	<div class="nav">
      <ul>
      	<li class="tutorials"><a class="active" href="TouristHome.html">Overview</a></li>
        <li class="tutorials"><a href="search.html">Tours</a></li>
        <li class= "about"><a href="friendsresult.html">Friends</a></li>
        <li class="about"><a href="messages.html">Messages</a></li>
        <li class="news"><a href="../login.html">Logout</a></li>
      </ul>
    </div>

  <div id="container"></div>
	<div id="wrapper">
		<header>
			<h1> Welcome to Singapore!</h1>
		</header>

<!-- Tour selection -->
	<section>
		<p> Choose Your Tour! <p>
		<p> Your Preferred Tour</p>
			<input type="checkbox">Food
			<input type="checkbox">Culture
			<input type="checkbox">Nature
	</section>

<!-- Tour prize -->
	<div>
		<p>Your Price Range SGD</p>
		<input type="range" min="0" max="50" value="0" step="5" onchange="showValue(this.value)"/>
		<span id="range">0<span>
		<script type="text/javascript">
			function showValue(newValue) {
				document.getElementById("range").innerHTML=newValue;
			}
	</script>
	</div>

	<div>
		<p> Your Preferred Choice of Local Friends<p>

<!-- Gender of local friends -->
		<select id="gender">			
			<option disabled>Gender</option>
			<option selected value="Male">Male</option>
			<option value="Female">Female</option>
			<option value="Both">Does Not Matter </option>
		</select>

<!-- Age -->
		<select id="age" name="Age">
			<option disabled>Age</option>
			<option value="1" selected>18-25 years old</option>
			<option value="2">26-35 years old</option>
			<option value="3">above 35 years old</option>
			<option value="Both">Does Not Matter </option>
		</select>

	<div>
		<button id="selected">Select</button>
	</div>

	</div>
</div>
	<footer>
			<p>&copy 2014 Local Friends</p>
	</footer>

<script type="text/javascript">
		console.log(data);
		function addMatch(person) {
			var img = document.createElement("img");
			img.src = "../" + person.profilePic;
			img.style.height = "100px";
			document.body.appendChild(img);
			var p = document.createElement("p");
			p.textContent = person.name;
			document.body.appendChild(p);
		}

		var objTo = document.getElementById("container");
		
		function addMatch(person) {

			// profile pic
			var img = document.createElement("img");
			img.src = "../" + person.profilePic;
			img.style.height = "100px";
			objTo.appendChild(img);
			// name
			var name = document.createElement("p");
			name.textContent = person.name;
			objTo.appendChild(name);
			// bio
			var bio = document.createElement("p");
			bio.textContent = person.bio;
			objTo.appendChild(bio);
			// category
			var category = document.createElement("p");
			category.textContent = "Tour: " + person.category;
			objTo.appendChild(category);
			// more button
			var moreBtn = document.createElement("button");
			moreBtn.innerHTML = "More";
			moreBtn.setAttribute("id", "moreBtn");
			objTo.appendChild(moreBtn);
			moreBtn.addEventListener('click', function() {
				console.log(moreBtn.id);
			})

			// chat button
			var chatBtn = document.createElement("button");
			chatBtn.innerHTML = "Chat";
			objTo.appendChild(chatBtn);
			// horizontal line
			var hr = document.createElement("hr");
			objTo.appendChild(hr);
		}

		function noMatch(e) {
			var p = document.createElement("p");
			var retry = document.createElement("button");
			p.textContent = "Ops, there is no match. Please try again.";
			objTo.appendChild(p);
		}

		function removeNode(e) {
			e.parentNode.removeChild(e);
		}

		document.getElementById("selected").addEventListener('click', function(){
			var selected_age = document.getElementById("age").selectedIndex;
			var selected_gender = document.getElementById("gender").value;
			var match = false;
			removeNode(document.getElementById("wrapper"));
			// title
			var title = document.createElement("h2");
			title.textContent = "Friends";
			objTo.appendChild(title);
			// horizontal line
			var hr = document.createElement("hr");
			objTo.appendChild(hr);
			// loop through data			

			data.forEach(function(person) {
				console.log(person, person.age_index, selected_age);
				if (person.age_index == selected_age && person.gender == selected_gender) {
					console.log("match", person.name);
					addMatch(person);
					return (match = true);
				} else {
					console.log("no match", person.name);
				};
				// console.log(person.name);
			});

			if (match === false) {
				noMatch();
			};
			//refresh button
			var retry = document.createElement("button");
			retry.innerHTML = "Refresh";
			retry.addEventListener('click', function() {
				window.location = "TouristHome.html";
			})
			objTo.appendChild(retry);
		})
	</script>
</body>

</html>