<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="style.css">
<head>
	<meta charset="utf-8" />
	<title>Local Friends</title>
</head>
 
<body>

	<nav>
		<a href="TouristHome.html">Home</a>
		<a href="search.html">Tours</a>
		<a href="friendsresult.html">Friends</a>
		<a href="messages.html">Messages</a>
		<a href="../login.html">Log out</a>
	</nav>

	<div id="wrapper">
		<header>
			<h1> Welcome to Singapore!</header>
		</header>
	
<!-- HTML for SEARCH BAR -->
<p>Quick Search Bar</p>
	<div id="tfheader">
		<form id="tfnewsearch" method="get" action="http://www.google.com">
		 <input type="text" class="tftextinput" name="q" size="21" maxlength="120">
		 <input type="submit" value="search" class="tfbutton">
		</form>
	</div>
		
<!-- Featured tours -->
	<div id="featureTours">
		<p> Editors' Selection</p>
		<div><img class="tourimage" src="../../img/1.jpg", width=200px,height=200px></div>
    <div><img class="tourimage" src="../../img/3.jpg", width=200px,height=200px></div>
  	</ul>
	</div>

<!-- Tour selection -->
	<section>
		<p> Choose Your Tour! <p>
		<p> Your Preferred Tour</p>
			<input type="checkbox">Food
			<input type="checkbox">Culture
			<input type="checkbox">Nature
	</section>

<!-- Tour prize -->
	<div>
		<p>Your Price Range SGD</p>
		<input type="range" min="0" max="50" value="0" step="5" onchange="showValue(this.value)"/>
		<span id="range">0<span>
		<script type="text/javascript">
			function showValue(newValue) {
				document.getElementById("range").innerHTML=newValue;
			}
	</script>
	</div>

	<div>
		<p> Your Preferred Choice of Local Friends<p>

<!-- Gender of local friends -->
		<select>			
			<option selected disabled>Gender</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
			<option value="Both">Does Not Matter </option>
		</select>

<!-- Age -->
		<select name="Age">
			<option selected disabled>Age</option>
			<option>18-25 years old</option>
			<option>26-35 years old</option>
			<option>above 35 years old</option>
			<option value="Both">Does Not Matter </option>
		</select>

	<div>
		<button>Select</button>
	</div>

	<footer>
	</footer>
</body>

</html>