<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../css/style.css">
	<head>
		<meta charset="utf-8"/>
		<title>Local Friends</title>
	</head>

	<nav>
		<a href="local.html">My Profile</a>
		<a href="notification.html">Notification</a>
		<a href="../login.html">Logout</a>
	</nav>

	<body>
		<h1>Notifications</h1>
		<hr>
		
		<!-- profile picture -->
		<div><img src="../../img/steveprofile.jpg" height="80px"></div>
		
		<!-- name -->
		<span>Steve</span>
		
		<!-- message -->
		<p>Hi Melissa, I would like to explore Singapore. Where would be a good place to go?</p>
		
		<!-- reply or delete button -->
		<button>Reply</button>
		<button>Delete</button>
		
		<hr>

		<footer>
			<p>&copy 2014 Local Friends</p>
		</footer>
	</body>

</html>