<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<head>
		<meta charset="utf-8"/>
		<title> Local Friends</title>
	</head>

	<!-- Notification bar -->
	<div class="nav">
      <ul>
        <li class="tutorials"><a href="local.html">My Profiles</a></li>
        <li class="about"><a class="active" href="notification.html">Notification</a></li>
        <li class="news"><a href="../login.html">Logout</a></li>
      </ul>
    </div>

	<body>
		<h1>Notifications</h1>
		<hr>
		
		<!-- profile picture -->
		<div><img src="../../img/steveprofile.jpg" height="80px"></div>
		
		<!-- name -->
		<span>Steve</span>
		
		<!-- message -->
		<p>Hi Melissa, I would like to explore Singapore. Where would be a good place to go?</p>
		
		<!-- reply or delete button -->
		<button>Reply</button>
		<button>Delete</button>
		
		<hr>

		<footer>
			<p>&copy 2014 Local Friends</p>
		</footer>
	</body>

</html>